:root{
    --primary-color: #196a8a;
    --secondary-color: #2A9D8F;
    --accent1-color: #e9c46a;
    --accent2-color: #f4a261;
    font-family: 'Indie Flower', Arial, sans-serif;
}
.Indie-Flower {
  font-family: "Indie FLower", serif;
  font-weight: 200;
  font-style: normal;
}
*{
    margin: 0.5rem;
    box-sizing: border-box;
}


header a{
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 6px;
}
header a:hover{
    background-color: rgba(117, 113, 113, 0.346);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1rem auto;
    max-width: 840px;
}
.navigation{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
    
}
.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    color: rgb(46, 46, 138);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}


h2{ 
    color: var(--secondary-color);
}
.hero{
    position: relative;
}
.hero img{
    display:block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.622);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.hero article{
    position: absolute;
    top: 120px;
    left:150px;
    background-color: #264653cb;
    width: 75%;
    color: white;
}
.hero article img{
    float:right;
    width: 200px;
    height: auto;
}

.history{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    place-items: center;
    margin: 100px 30px 30px;
    padding: 20px 30px 50px;
    width: auto;
    background-color: #e9d5a15c;
}
.history h2{
    align-self: center;
    grid-column: 2/3;
    margin:0;
}
.history img{
    width: 200px;
    height: auto;
    grid-column: 2/3;
    align-self: start;
}
.p{
    order:-1;
    grid-row: 2/3;
    align-self: start;
}
.p{
    align-self: start;
}


.adventure h2{
    display: flex;
    flex-wrap: wrap;
    margin: 6rem 30px;
    padding: 20px 10px 30px;
    background-color: #f4a3612a;
    
}
.gridadventure h2{  
    text-align: center;
    width: 100%;

}

.gridadventure img{
    width: 200px;
}
figure {
    display: inline-block;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin: 10px auto;

}
  
figcaption {
    background-color: #222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    max-width: 210px;
    text-align: center;
}
section img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background: var(--accent-color);
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer img {
    width: 40px;
    height: 40px;
}

.sociallinks a {
    text-decoration: none;
    margin: 0 10px;
    justify-content: right;
}

.sociallinks a:hover img {
    transform: scale(1.1);
}
