nav{
    background-color: #111;
    color: white;
    text-align: center;
}
nav a{
    background-color: #111;
    padding: 10px;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main{
    max-width: 600px;
    margin: auto;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);/*black*/
    padding: 10px;
    background-color: lightblue;
    color:black;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
p {padding: 0;}
footer {
    margin-top: 10px;
    border-top: 2px solid #111;
    text-align: center;
}

/*This is a comment*/

/* This is a comment */
